@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital@1&display=swap');

body {
  font-family: Permanent Marker;
  margin: 0;
  text-align: center;
  background: black;
  color: white;
}